<header class="page-header">
  <div class="content">
    <a href="{{ shop.url }}" class="logo">{{ shop.name }}</a>
    <nav>
      <ul>
        {% for link in linklists.main-menu.links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    {% include 'shopper' %}
  </div>
</header>