<a href="{{ product.url }}" class="product-bit">
  <div class="product-bit-image">
    {{ product.featured_image |  img_url: image_size | img_tag, product.featured_image.alt, "product-image" }}
  </div>
  <div class="product-bit-details">
    <h4>{{ product.title }}</h4>
    <p class="price">{{ product.price }}</p>
  </div>
</a>