.site-footer
  background: $dark-color
  color: $light-color
  padding: 20px 0
  text-align: center
  
  a
    &:link, &:visited
      color: $light-color
      text-decoration: none
      
    &:link:hover, &:visited:hover
      color: white
      text-decoration: none
  ul
    margin: 10px 0
    padding: 0
    
    li
      display: inline-block
      margin: 0 5px
      list-style-type: none
      
  .social-links
    margin-top: 20px
    
    li
      margin: 0 5px
    
  .fineprint
    font-size: 0.7em