.site-footer
  background: $dark-color
  color: $light-color
  padding-bottom: 50px
  
  a
    &:link, &:visited
      color: $light-color
      text-decoration: none
      
    &:link:hover, &:visited:hover
      color: white
      text-decoration: none
  ul
    display: inline-block
    margin: 20px 0
    padding: 0
    vertical-align: top
    text-align: left
    
    +respond-to("small")
      display: block
      margin: 0
      padding: 15px
      text-align: center
      font-size: 1.4em
      
      &.social-links
        img
          width: 35px
          margin: 5px
    
    li
      list-style-type: none
      line-height: 1.7em
    
  .fineprint
    font-size: 0.7em