.page-header
  background: #eee
  padding: 15px 0
  
  .logo
    margin-right: 15px
    +middle
    
  nav
    +scale-up("small")
      +middle
    
    +respond-to("small")
      display: none
      
      &.active
        display: block
    li
      +scale-up("small")
        display: inline-block
