<!DOCTYPE html> 
<html>
  <head>
    {{ content_for_header }}
    {% include 'head' %}
  </head>
  <body class="{{ template | handle }} {% if template contains 'product' %}product{% endif %} {% if template contains 'collection' %}collection{% endif %} {% if template contains 'customer' %}customer{% endif %} {% if template contains 'page' %}page{% endif %}">
    {% include 'header' %}
    <main id="main" class="content">
      {{ content_for_layout }}
    </main>
    {% include 'footer' %}
  </body>
</html>