$primary-color: #198bc8;
$secondary-color: #B6BFC5;
$light-color: #ccc;
$dark-color: #293035;
$water-color: rgba(182, 191, 197, 0.25);
$ghost-color: rgba(182, 191, 197, 0.1);
$ink-color: rgba(0, 0, 0, 0.3);
$green: #3ac836;
$red: #E75A48;