.customer

  #main
    +respond-to("small")
      font-size: 0.8em

    h1
      +upcase
      text-align: center
      font-weight: 300
    
      input[type=email], input[type=password], input[type=text]
        width: 100%
    
    label
      margin: 10px 0
      color: $light-color
      
    .form-buttons
      text-align: center
      margin: 20px 0
    
.new-account
  margin-top: 80px
  max-width: 380px
  
  label
    display: block
  
.login
  +scale-up("small")
    max-width: 300px
    
  label
    display: block
  
  form
    input[type=email], input[type=password]
      width: 100%
      
    p
      text-align: center
      color: $light-color
      font-size: 0.9em
      margin-bottom: 30px

.customer-account
  table
    width: 100%
    text-align: left
  
    +respond-to("small")
      th
        display: none
      tr, td
        display: block
  
  .account-details
    h2
      margin: 3px 0
      font-size: 1.2em
      +upcase

.customer-order
  table
    width: 100%
    text-align: left
    
    tr:not(:nth-child(1))
      border-top: 1px solid $light-color
      
    td
      padding: 5px 0
    +respond-to("small")
      font-size: 0.7em
      
.customer-addresses
  label
    color: $dark-color !important
    
  input[type=text]
    width: 100%

  table
    td
      padding: 5px 10px 5px 0
    
      +respond-to("small")
        display: block
        
        select
          font-size: 0.8em